:root{
    --lightblue-color:#2196F3;
    --white-color:#FFFFFF;
    --second-text-color:#757575;
    --main-text-color:#212121;
    --back-color:#2F303A;
    --lightgray-color:#F5F4FA;
    --black-color:#000000;
}
body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
    background-color:var(--white-color);
}
.logo-title{
    font-family: 'Raleway', sans-serif;
    color: var(--black-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    color:var(--lightblue-color);
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--main-text-color);
}
.site-nav .link.current{
    color:var(--lightblue-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--lightblue-color);
}
.nav-list .contacts{
    font-weight: 500;
    font-size: 14px;
    color: var(--second-text-color);
}
.nav-list .contacts:hover, .nav-list .contacts:focus{
    color:var(--lightblue-color);
}
.hero{
    background-color: var(--back-color);
}
.hero .title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.hero .button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--white-color);
    text-align: center;

    background-color:var(--lightblue-color);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}
.hero .button:hover, .hero .button:focus{
    border-radius: 0px;
    padding: 11px 33px;
}
.hidden-title {
    display: none;
}
.section-list{
    letter-spacing: 0.03em;
}
.section-list .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);

    text-transform: uppercase;
}
.section-list .text{
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.section.team{
    background-color: var(--lightgray-color);
}
.team-list{
    letter-spacing: 0.03em;
}
.team-list .title{
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
}
.team-list .text{
    font-size: 16px;
    color: var(--second-text-color);
}
.footer{
    background-color: var(--back-color);
}
.address{    
    font-style: normal;
    font-size: 14px;
    color: var(--white-color);
}
.footer .logo-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.filter .button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--main-text-color);

    background-color: var(--lightgray-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.filter .button:hover, .filter .button:focus{
    background-color: var(--lightblue-color);
    color: var(--white-color);
}
.work-list .title{
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}
.work-list .text{
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.work-list .text-onthe{
    font-size: 18px;
    letter-spacing: 0.03em;
    color: var(--white-color);

    display: none;
}
